50.png
Reconstruccion_3_camaras.pdf
Reconstruccion_3_camaras.pdf_tex
Reconstruccion_3_camaras.png
Reconstruccion_3_camaras2.eps
Reconstruccion_3_camaras2.eps_tex
Reconstruccion_3_camaras2.pdf_tex
Reconstruccion_3_camaras2.png
Reconstruccion_3_camaras3.eps
sinteticas.zip
umbral_dist inf tot_markers inf
bloques_reconstruccion-eps-converted-to.pdf
